services:
  collabora:
    environment:
      extra_params: >
        --o:ssl.enable=${COLLABORA_SSL_ENABLE:-true}
        --o:ssl.ssl_verification=${COLLABORA_SSL_VERIFICATION:-true}
        --o:ssl.termination=true
        --o:welcome.enable=false
        --o:net.frame_ancestors=${OC_DOMAIN:-cloud.opencloud.test}${TRAEFIK_PORT_HTTPS:+:}${TRAEFIK_PORT_HTTPS:-}
        --o:net.lok_allow.host[14]=${OC_DOMAIN:-cloud.opencloud.test}${TRAEFIK_PORT_HTTPS:+:}${TRAEFIK_PORT_HTTPS:-}
        --o:home_mode.enable=${COLLABORA_HOME_MODE:-false}
        --o:hexify_embedded_urls=true
    networks:
      pangolin:
      opencloud-net:

  opencloud:
    networks:
      pangolin:
      opencloud-net:

  collaboration:
    networks:
      pangolin:
      opencloud-net:

  keycloak:
    networks:
      pangolin:
      opencloud-net:

  postgres:
    volumes:
      - ${KC_CUSTOM_DB_PATH:-keycloak_postgres_data}:/var/lib/postgresql/data

  tailscale:
    image: tailscale/tailscale:v1.92.5@sha256:4a0aaacee6f28e724c1f80c986e5776c9c979d8f7e19274c2cae2d495cc8d625
    environment:
      - TZ=${TZ}
      - TS_HOSTNAME=opencloud
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_SERVE_CONFIG=/config/tailscale.json
    volumes:
      - /opt/data/tailscale/opencloud:/var/lib/tailscale
      - /opt/setup/tailscale/opencloud/tailscale.json:/config/tailscale.json
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    restart: unless-stopped
    networks:
      - immich

networks:
  pangolin:
    name: pangolin
    external: true