:root {
    --pf-v5-global--primary-color--100: #e2baff;
    --pf-v5-global--primary-color--200: #e2baff;
    --pf-v5-global--primary-color--dark-100: #e2baff;
    --pf-v5-c-button--m-secondary--Color: #e2baff;
    --pf-v5-global--Color--light-100: #20434f;
}

@font-face {
    font-family: OpenCloud;
    src: url('../fonts/OpenCloud500-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenCloud;
    src: url('../fonts/OpenCloud750-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "OpenCloud", "Open Sans", Helvetica, Arial, sans-serif;
    background: url(../img/background.png) no-repeat center fixed !important;
    background-size: cover !important;
}

.kc-logo-text {
    display: block;
    width: 300px;
    height: 63px;
    background: url('../img/logo.svg') no-repeat center;
    background-size: contain;
}

.kc-logo-text span {
    display: none;
}

#kc-header-wrapper {
    display: flex;
    justify-content: center;
}

.pf-v5-c-login__main-header {
    border-top: 4px solid var(--pf-v5-global--primary-color--100);
}

@media (min-width: 1200px) {
    .pf-v5-c-login__container {
        grid-template-columns: 34rem;
        grid-template-areas:
        "header"
        "main";
    }
}
